@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "BARSADY-Bold";
  src: url("./font/BARSADY-Bold.woff") format("woff");
}

html,
body,
#root {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.title {
  font-family: "BARSADY-Bold", sans-sherif;
  animation: tracking-in-contract 1s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}
@keyframes tracking-in-contract {
  0% {
    letter-spacing: 1em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    letter-spacing: normal;
    opacity: 1;
  }
}

@keyframes blur-out-expand {
  0% {
    filter: blur(0.01);
  }
  100% {
    letter-spacing: 1em;
    filter: blur(12px) opacity(0%);
  }
}
.titleIntro {
  font-family: "BARSADY-Bold", sans-sherif;
}

.blur-out-expand {
  animation: blur-out-expand 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.fade-out {
  animation: fade-out 1s ease-out both;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-in {
  animation: fade-in 1s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

/* BURGER MENU */

.xmark:hover {
  background-color: white;
}
.xmark:hover i {
  color: rgb(85, 33, 7);
}

.fa-xmark {
  transition: color 0.4s ease-in-out;
}

.menu {
  width: calc(100vw - 3.5rem);
  height: calc(100vh - 3.5rem);
}

.hamburger-lines:hover {
  transform: scale(4); /* 100 / 45 = 2.22 */
}
.hamburger-lines i {
  transition: transform 0.3s ease-in-out;
  transform: scale(1); /* Réduit à 45% */
}

.hamburger-lines:hover i {
  transform: scale(0.45); /* Reviens à la taille normale lors du survol */
}

.nav-container input[type="checkbox"]:checked ~ .logo {
  display: none;
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideOut {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(110%);
  }
}

.menu-enter {
  animation: slideIn 1s forwards;
}

.menu-exit {
  animation: slideOut 1s forwards;
}

.scroll-icon__dot {
  display: block;
  position: absolute;
  left: 50%;
  background: #621b07;
  height: 0.4em;
  width: 0.15em;
  top: 0.15em;
  margin-left: -0.05em;
  border-radius: 50%;
  transform-origin: top center;
  backface-visibility: hidden;
  animation: scroll_2 2s ease-out infinite;
}

.scroll-icon {
  display: block;
  position: relative;
  height: 2.1em;
  width: 1.5em;
  border: 0.05em solid #4c1805;
  border-radius: 1em;
}
@keyframes scroll_2 {
  0% {
    transform: translateY(0.1rem);
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  75% {
    transform: translateY(0.5em);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 0;
  }
}


.fa-circle-arrow-left{
  cursor: pointer;
}